# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# misc
*.psd
calque-app-tsx/frontend/src/pages/Testpage.tsx
calque-app-tsx/frontend/public/logo-de-figma.svg
calque-app-tsx/frontend/src/assets/LogoTest.asset.tsx
calque-app-tsx/frontend/public/logo-calque5.svg
calque-app-tsx/frontend/public/logo-calque4.svg
calque-app-tsx/frontend/public/logo-calque2.svg
calque-app-tsx/frontend/public/logo-calque.svg
calque-app-tsx/frontend/public/logo-calque-wh.svg
calque-app-tsx/frontend/public/logo-calque-w.svg
calque-app-tsx/frontend/public/logo-calque-3.svg
calque-app-tsx/frontend/public/image2vector.svg
calque-app-tsx/frontend/src/assets/LogoTestW.asset.tsx
calque-app-tsx/frontend/src/pages/Testpage.tsx
calque-app-tsx/frontend/src/pages/Testpage.tsx
calque-app-tsx/frontend/src/pages/Testpage.tsx
calque-app-tsx/backend/src/server.cert
calque-app-tsx/backend/src/server.key
calque-app-tsx/backend/localhost+2.pem
calque-app-tsx/backend/localhost+2-key.pem
calque-app-tsx/backend/src/localhost+2.pem
calque-app-tsx/backend/src/localhost+2-key.pem
