
.content-wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.page-header {
    display: flex; flex-direction: column; align-items: center;
    padding-top: 24px; padding-bottom: 24px;
    /* background-color: #f5f5f5; */
}

.page-title {
    margin-top: 0;
    margin-bottom: 12px;
}

.page-info {
    display: flex; 
}


    .contributors {
        margin-right: 6px;
        padding: 8px 12px;
        font-weight: 500;
        color: #fff;
        background-color: #404040;
        border-radius: 180px;
    }

    .doc a {
        display: flex; place-items: center;
        height: 100%;
        padding-left: 6px; padding-right: 6px;
        border-radius: 180px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(var(--accent-dead));
        transition: .2s;
    }

        .doc img {
            display: inline-block;
            margin-left: 6px;
            height: 18px; width: 18px;
            transition: .2s;
            transition-property: transform;
        }
        
        .doc a:hover {
            background-color: rgb(var(--accent-dark));
        }

            .doc a:hover img {
                transform: scale(1.1) translateX(2px);
            }


.page-footer {
    padding-top: 24px; padding-bottom: 30px;
    background-color: rgb(var(--accent-dark));
    color: #fff;
    text-align: center;
    border-top: 1px solid #d5d5d5;
}

    .page-footer a {
        color: inherit;
        font-weight: 500;
        text-decoration: underline;
    }

.page-body {
    padding-top: 24px;
}


.progress-section {
    background-color: #eee;
    padding-top: 24px;
    padding-bottom: 60px;
}

.progress-section-header {
    text-align: center;
}

.phases {
    display: flex;
    width: 100%;
}

.phase {
    padding-top: 12px;
    padding-bottom: 4px;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.7em;
}

    .phase:nth-child(1) { width: 15%; }
    .phase:nth-child(2) { width: 30%; }
    .phase:nth-child(3) { width: 45%; }
    .phase:nth-child(4) { width: 10%; }

    .phase.current {
        font-weight: 500;
        color: rgb(var(--accent));
    }

.timeline {   
    border-radius: 180px;
    height: 18px;
}

.week {
    margin-top: 24px;
    padding: 18px 2% 12px;
    border-radius: 12px;
    background-color: #fefefe;
}

.week-header {
    color: #444;
}
    .week-header p {
        margin: 0;
        font-size: 1.6em; font-weight: 500;
    }

    .week-title {
        margin: 0;
        font-size: 2em; font-weight: bold;
        color: rgb(var(--accent-dark));
    }

.week-content {
    color: #333;
}

    .week-content .title {
        margin-top: 8px; margin-bottom: 2px;
        font-size: 1.6em;
        color: rgb(var(--accent));
        text-transform: uppercase;
    }

    .week-content p {
        margin: 0;
        line-height: 1.5;
    }

    .week-content ul {
        margin: 0;
    }

    .week-content li {
        line-height: 1.5;
    }
